<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="You Must Pray"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouMustPray">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LockActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.YouMustPray" />
        <activity
            android:name=".MatCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.YouMustPray" />
    </application>
</manifest>
